/* Font */
.comic-relief-regular {
  font-family: "Comic Relief", system-ui, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.comic-relief-bold {
  font-family: "Comic Relief", system-ui, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Variables */
:root {
    --col-color: goldenrod;
    --col-padding:75px;
}

/* Main Site */
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background: darkred;
    text-align: center;
    font-family: "Comic Relief", system-ui, Arial, Helvetica, sans-serif;
    font-weight: 600;
}
h1 {
    font-weight: 700;
}
h4 {
    color: white;
}
p {
    font-weight: 400;
}
li {
    list-style-type: disc;
    margin-left: 0px;
}
#intro {
    background-color: rgb(22, 0, 0);
    margin: auto;
    padding: 175px;
}
#intro h1 {
    text-align: center;
    color: white;
}
#intro p {
    text-align: center;
    color: white;
}
#about {
    background-color: mistyrose;
    height: 100%;
    max-height: 120%;
    padding-top: 6rem;
}
#about h3 {
    text-align: center;
}
#about div {
    width: 700px;
    margin: auto;
    text-align: left;
}
#play {
    background-color: darkred;
    text-align: center;
    height: 100%;
    padding: 175px;
}
#contact {
    background-color: rgb(22,0,0);
    color: white;
    padding: 30px;
}
#contact div {
    text-align: center;
    margin: auto;
    width: 500px;
}
#contact label {
    display: block;
    text-align: left;
}
#contact input {
    width: 500px;
    height: 50px;
    max-width: 500px;
    border-radius: 10px;
    border: 5px solid white;
    transition: border-color 0.3s ease;
    font-family: "Comic Relief", system-ui, Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 10px;
}
#contact textarea {
    width: 500px;
    height: 100px;
    max-width: 500px;
    min-width: 500px;
    max-height: 400px;
    min-height: 50px;
    border-radius: 10px;
    border: 5px solid white;
    transition: border-color 0.3s ease;
    font-family: "Comic Relief", system-ui, Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 10px;
}
#contact input:focus, #contact textarea:focus {
    outline: none;
    border: 5px solid darkred;
}
#contact button {
    width: 400px;
    height: 50px;
    border-radius: 10px;
    background-color: darkred;
    color: white;
    border: 3px solid white;
    font-family: "Comic Relief", system-ui, Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#contact button:hover {
    background-color: brown;
}
#footer {
    background-color: rgb(101, 26, 3);
    color: rgb(245, 155, 128);
    padding: 20px;
}
#footer h4 {
    color: rgb(245, 155, 128);
    margin:7px 0;
}
#concontain {
    justify-content: center;
    display: flex;
    gap: 15px;
}
.concon {
    width: 36px;
    height: 36px;
}

/* Porfolio */
#portfolio {
    background: rgb(22, 0, 0);
    color:white;
    justify-content : center;
    display: block;
    padding: 50px;
}
#portfolio h1 {
    text-align: center;
}
#battlepong {
    justify-content: center;
    color: white;
}
.buttholder {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    gap: 10px;
}
.buildbutts {
    background-color: darkred;
    border: 3px solid white;
    border-radius: 10px;
    color: white;
    font-family: "Comic Relief", system-ui, Arial, Helvetica, sans-serif;
    width: 75px;
    height: 75px;
    gap: 20px;
}
.buildbutts:hover {
    background-color: brown;
}
#bpdescframe {
    border: 5px solid white;
    border-radius: 10px;
    background-color: darkred;
    display: block;
    margin: auto;
    width: 60%;
    transition: max-height 0.7s ease;
    max-height: 0;
    overflow: hidden;
}
.dynamic {
    background: rgb(22, 0, 0);
    color: rgb(22, 0, 0);
    font-size: 8vw;
    display: flex;
    padding: 50px;
}
.left {
    width: 33%;
    background-color: wheat;
    padding: var(--col-padding);
}
.mid {
    width: 33%;
    background-color: goldenrod;
    padding: var(--col-padding);
}
.right {
    width: 33%;
    background-color: wheat;
    padding: var(--col-padding);
}
@media screen and (max-width: 800px) {
    .dynamic {
        flex-direction: column;
    }
    .left, .mid, .right {
        width: 100%;
    }
}

/* Navigation  Bar */
#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 0px;
    color: white;
    background-color: darkred;
    text-align: left;
}
#navelemlogo {
    display: flex;
    align-items: center;
    gap: 20px;
}
#navelembuttons {
    display: flex;
    align-items: center;
    gap: 0px;
}
.navbutton {
    background-color: darkred;
    color: white;
    padding: 32px 14px;
    text-decoration: none;
    border-radius: 0;
    cursor: pointer;
}
.navbutton:hover {
    background-color: brown;
    color: white;
}
.navbutton:active {
    opacity: 0.8;
}

/* Scrollbar Settings */
html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: rgb(22, 0, 0);
}
::-webkit-scrollbar-thumb {
    background-color: darkred;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(180, 0, 0);
}